body {background-color:dimgrey}

*{
    margin:0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title{
    display:flex; 
    margin:10px;
    padding:10px;
}

.flexbox-container-row-1{
    display: flex;
    justify-content: center;
}
.flexbox-container-row-2{
    display:flex;
    justify-content: center;
}
.flexbox-container-row-3{
    display:flex;
    justify-content: center;
}
.flexbox-container-row-4{
    display:flex;
    justify-content: center;
}
.flexbox-container-row-5{
    display:flex;
    justify-content: center;
}
.flexbox-container-row-6{
    display:flex;
    justify-content: center;
}
.flexbox-container-row-7{
    display:flex;
    justify-content: center;
}
.flexbox-container-row-8{
    display:flex;
    justify-content: center;
}
.flexbox-container-row-9{
    display:flex;
    justify-content: center;
}
.flexbox-item {
    width: 500px;
    height:40px;
    border: 3px solid purple;
    background-color:azure;
    margin:10px;
    padding:10px;
}
.text{
    text-align:center;
}

.button{
    display:flex;
    justify-content:center;
    align-items:center;
    border: 3px solid purple;
    background-color:azure;
    margin:10px;
    padding:10px;
}
.app{
    display:flex;
    min-height:100vh;
}
.sidebar{
    flex: 1 1 0;
    max-width:150px;
    padding: 2rem 1rem;
    background-color:azure;
}
.sidebar h3{
    color:darkgrey;
    text-transform:uppercase;
    font-size:0.75rem;
    margin-bottom:0.5em;
}
.sidebar .menu{
    margin: 0 -1rem;
}
.sidebar .menu .menu-item{
    display:block;
    padding: 1em;
    color:dimgray;
    text-decoration: none;
    transition: 0.1s linear;
}
.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active{
    color: cyan;
    border-right:3px solid purple;
}