body {background-color:dimgrey}

*{

}
.title{
    display:flex; 
    margin:10px;
    padding:10px;
}

.calendar.main{
    display: flex;
    margin-top: 200px;
}

    width: 500px;
    height:40px;
    border: 3px solid purple;
    background-color:azure;
    margin:10px;
    padding:10px;
}
.firstHalf{
    padding-right: 0px;
}
.secondHalf{
    padding-left: 0px;
}
.text{
    text-align:center;
}

.button{
    display:flex;
    position:absolute;
    border: 3px solid purple;
    background-color:azure;
    padding:10px;
    margin:10px;
}
.app{
    display:flex;
    min-height:100vh;
}

.simple-calendar-homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
