body {background-color:dimgrey}

*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title{
    display:flex; 
    margin:10px;
    padding:10px;
}

.flexbox-container-row-1{
    display: flex;
    justify-content: center;
}
.flexbox-container-row-2{
    display:flex;
    justify-content: center;
}
.flexbox-container-row-3{
    display:flex;
    justify-content: center;
}
.flexbox-container-row-4{
    display:flex;
    justify-content: center;
}
.flexbox-container-row-5{
    display:flex;
    justify-content: center;
}
.flexbox-container-row-6{
    display:flex;
    justify-content: center;
}
.flexbox-container-row-7{
    display:flex;
    justify-content: center;
}
.flexbox-container-row-8{
    display:flex;
    justify-content: center;
}
.flexbox-container-row-9{
    display:flex;
    justify-content: center;
}
.flexbox-item {
    display:flex;
    width: 500px;
    height:40px;
    border: 3px solid purple;
    background-color:azure;
    margin:10px;
    padding:10px;
}
.text{
    text-align:center;
}

.button{
    display:flex;
    position:absolute;
    border: 3px solid purple;
    background-color:azure;
    padding:10px;
    margin:10px;
}
.app{
    display:flex;
    min-height:100vh;
}
