body {background-color:dimgrey}

*{
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.title{
    display:flex; 
}

.calendar.main{
    display: flex;
    margin-top: 200px;
}


.timebox {
    width: 500px;
    height:40px;
    border: 3px solid purple;
    background-color:azure;
}
.firstHalf{
    padding-right: 0px;
}
.secondHalf{
    padding-left: 0px;
}
.text{
    text-align:center;
}

.button{
    display:flex;
    justify-content:center;
    align-items:center;
    border: 3px solid purple;
    background-color:azure;
}

.button2 {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:purple;
    font-weight: bolder;
    font-size: large;
    color:azure;
    width: 300px;
    height:75px;
}

.simple-calendar-homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup.addEvent {
    display:none;
    background-color: rgb(128, 120, 120);
    border-style: solid;
    border-color: black;
    width:800px;
    height:600px;
    position: relative;
    top:-500px;
    
    flex-direction: column;
}

.userInput {
    border: 3px solid purple;
    margin-top: 0px;
}
.eventTime{
    padding-left: 0px;
    display: flex;
}

